body {
    font-family: 'Helvetica', sans-serif;
    background-color: #ffd699;
    color: #663300;
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

h1 {
    color: #996633;
    font-size: 4em;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    color: #663300;
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #996633;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #996633;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    padding: 10px;
}

footer p {
    color: #996633;
    font-size: 0.8em;
    margin: 0;
}
